body {
    font-family: 'Capriola-Regular';
    margin: auto;
    width: 1280px;
    height: 964px;
    margin:0;
    background-image: url("tweed.png");
}

/*-----------------------------HEM-------------------------------------*/

#Header {
    width: 100%;
    height: 220px;
    float: left;
}



#Title {
    width: 100%;
    height: 220px;
}


/*----------------------------div-Menu_bar-----------------------------*/


#nav {
    display: inline-block;
    list-style: none;
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
    border-top: 10px solid red;
}
#nav li {
    float: left;
    height: 50px;
    width: 25%;
    background-color: #ffffff;
}
#nav li a {
    color: black;
    display: block;
    font-family: "Capriola-Regular";
    fon-size: 14px;
    line-height: 50px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
#nav li a:hover, #nav a.selected {
    background-color: red;
    color: #fff;
    height: 50px;
    border-right: 1px solid ;
}


/*----------------------------div-Content--------------------------------*/
#Content{

    width: 100%;
    height: 550px;
}

#Sidebar_program {
    float: left;
    width: 26%;
    height: 490px;
    background: gray;
}

#Sidebar_program h1{
    width: 100%;
    margin-left: 37px;
}
#Wrapper_bottom_sidebar_for_program{
    width: 100%;
    height: 10px;
    background-color: red;
}
#Sidebar_home {
    float: left;
    width: 25%;
    height: 500px;

}

#Sidebar_picture{
    height: 200px;
    background-image: url("students.jpg");

}

#Sidebar_info {
    height: 290px;
    background: grey;
    opacity: 0.7;
}

#Wrapper_bottom_sidebar{
    width: 100%;
    height: 10px;
    background-color: red;
}
#Latest_news {
    width: 60%;
    height: 350px;
    float: right;
    margin-right: 100px;
}

#Under_text {
    width: 60%;
    height: 140px;
    background: grey;
    opacity: 0.7;
    float: right;
    margin-right: 100px;
}

#Wrapper_for_Latest_news{
    width: 60%;
    height: 10px;
    background-color: red;
    float: right;
    margin-right: 100px;
}

#About_us {
    width: 100%;
    height: 200px;
    background-color: black;
}

#Bar_1 {
    width: 30%;
    height: 200px;
    background-color: black;
    float: left;
    margin-right: 40px;
    margin-top: 45px;
}

#Bar_2 {
    width: 30%;
    height: 200px;
    background-color: black;
    float: left;
    margin-left: 25px;
    margin-top: 45px;
}

#Bar_3 {
    width: 30%;
    height: 200px;
    background-color: black;
    float: right;
    margin: 0;
    margin-top: 45px;
}
/*----------------------------div-Content----------------------------*/

/*----------------------------div Footer---------------------------------*/

#Footer {

    width: 100%;
    height: 180px;
    background-color: ;
    float: left;
    margin-top: 10px;
    border-top: solid 10px gray;
}

/*----------------------------div Footer end---------------------------------*/


/*----------------------------div-Content för KONTAKT--------------------------------*/

#Google_map {
    float: left;
    width: 50%;
    height: 300px;
    background-color: black;
    margin-left: 310px;
}
